<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body></body>
{{!-- LOOK AT cat-block.handlebars FROM THE CATS ACTIVITY --}}

{{!-- This is meant to allow the user to devour a cupcake. --}}
<li>
	{{cupcake-name}}
    {{!-- This will display the name of the cupcake from the column in teh db --}}
    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
      {{#if devour}}DEVOUR{{else}}UN-DEVOUR{{/if}}
    </button>
</li>

</body>
</html>
