
 {{!--<!DOCTYPE html>--}}
 {{!--<html lang="en">--}}
 {{!--<head>--}}
  {{!-- <meta charset="UTF-8">--}}

 {{!--<script src="https://code.jquery.com/jquery.js"></script>--}}
 {{!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>--}}

 {{!--</head>--}}

 {{!--<body>--}}


{{!-- First row -- blank space --}}
<div class="row">  </div>

<h1 style="margin-left: 80px; margin-top: 80px; text-align: center">Cupcakes</h1>

<ul>
  {{#each cupcake_table}}
    {{!-- above line refers to my db table name --}}
    {{#if eat}}
    {{!-- "eat" refers to line 27--}}
      {{> cupcake_table/cake-block devour=true}}
    {{!-- "devour" refers to cake-block, the last bit of the opening "button" line--}}
    {{/if}}
  {{/each}}
</ul> 

{{!-- New row --}}
{{!-- This is meant to allow the user to add a cupcake. --}}
<h2 style="margin-left: 80px; margin-top: 40px; text-align: center">Add a Cupcake</h2>

<form class="create-form" class="row">
        {{!- first column: "cupcake name" --}}
        <div class="form-group" >
          <label style="margin-left: 80px" class="col-sm-2" for="cn">Cupcake Name:</label>

          {{!- second column: text entry filed --}}
          <input style= type="text" id="cn" name="name" class="col-sm-4">

          {{!- third column: "add" button--}}
          <button type="submit" class="col-sm-3">Add</button>
        </div>
</form>

{{!- new row --}}

  <div class="form-group" class="row">

    <label style="margin-left: 80px" for="devoury" class="col-sm-2">Devour it?</label>
    <input type="radio" name="eat" value="1" class="col-sm-1" checked> Nom!<br>

  </div>

<h2 style="margin-left: 80px; margin-top: 80px; text-align: center">DEVOURED:</h2>
 {{!--</body>--}}
 {{!--</html>--}}