
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

<h1>Cupcakes</h1>

<h2>DEVOURED</h2>

<ul>
  {{#each cupcake_table}}
    {{!-- above line refers to my db table name --}}
    {{#if eat}}
    {{!-- "eat" refers to line 27--}}
      {{> cupcake_table/cake-block devour=true}}
    {{!-- "devour" refers to cake-block, the last bit of the opening "button" line--}}
    {{/if}}
  {{/each}}
</ul> 


{{!-- This is meant to allow the user to add a cupcake. --}}
<h2>Add a Cupcake</h2>
<form class="create-form">

  <div class="form-group">
    <label for="cn">Cupcake Name:</label>
    <input type="text" id="cn" name="name">
  </div>

  <div class="form-group">
    <label for="devoury">Devour it?</label><br>
    <input type="radio" name="eat" value="1" checked> Nom!<br>
  </div>

  <button type="submit">Add</button>
</form>

</body>
</html>